.burgers__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 940px;
    margin: 0 20px 0 20px;
     @include tablets {
        display: flex;
        flex-direction: column;
    } 

}
.burgers__content-composition {
    width: rem(90px);
    height: rem(90px);
    background-color: #f08c33;
    align-items: center;
    border-radius: rem(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #e45028;
    }   
}
.burgers__content-composition {
    &:hover+.burgers__content-composition-desc {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    @include phones {
    margin-left: rem(50px);
       
    } 
}
.to-next-burger {
    display: flex;
    align-items: center;
    margin-left: rem(20px);
    transform: rotate(90deg)
}
.section.burgers {
    position: relative;
    background-image: linear-gradient(to top, #f9b43b, #eb8c38 48%, #f9b43b 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    @include phones {
        //width: 90%;
    } 
}
.burgers__content {
    position: relative;
}
.to-next-burger.arrow_right {
    margin-right: rem(20px);
    transform: rotate(-90deg);
    &::after {
        .burgers__container.slider {
            display: block;
        }
    }
    
}
.desc__title {
    font-family: 'Gagalin-Regular', sans-serif;
    font-size: rem(72px);
    padding-bottom: rem(40px);
    color: #ffffff;
    line-height: 0.889;
    @include tablets {
       text-align: center;
    } 
    
}
.desc__text {
    font-family: 'Ubuntu-Light', sans-serif;
    font-size: rem(14px);
    color: #ffffff;
    opacity: 0.7;
    line-height: 1.714;
    text-align: left;
    @include tablets {
        text-align: center;
     } 
}
.desc__price {
    font-family: 'Gagalin-Regular', sans-serif;
    font-size: rem(72px);
    display: flex;
    align-items: baseline;
    color: #e35028;
    @include tablets {
        display: flex;
        justify-content: center;
     } 
    
}
.desc__currency {
    font-family: 'Gagalin-Regular', sans-serif;
    font-size: rem(36px);
    margin: 0 rem(30px) 0 rem(10px);
    
}
.desc-link.btn {
    margin-bottom: rem(10px);
}
.composition_burger-text {
    font-size: rem(14px);
    font-family: "Gagalin-Regular", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 2.008;
}
.kkal_burger-sum {
    position: absolute;
    left: rem(13px);
    top: rem(434px);
    color: #ffffff;
    font-family: 'Gagalin-Regular', sans-serif;
    font-size: rem(20px);
    opacity: 0.4;
    @include tablets {
    position: absolute;
    left: rem(513px);
    top: rem(29px);
    right: rem(35px);
    bottom: rem(10px);
    } 
}
.kkal_burger-type {
    color: #ffffff;
    font-family: 'Gagalin-Regular', sans-serif;
    font-size: rem(14px);
    opacity: 0.4;
    margin-left: rem(15px);
    position: absolute;
    @include tablets {
        position: absolute;
        left: rem(500px);
        top: rem(63px);
        right: rem(22px);
        bottom: rem(10px);
    } 
}
.kkal_burger {
    width: rem(60px);
    height: rem(60px);
    opacity: 0.5;
    @include tablets {
        position: absolute;
        left: rem(500px);
        top: rem(0px);
        right: rem(35px);
        bottom: rem(10px);
    } 
}

.burgers__content-composition-desc {
    width: 270px;
    height: 330px;
    position: absolute;
    top: 0;
    left: 90px;
    background-color: #fef8ec;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    border-radius: 3px;
}
.burgers__content-composition-desc::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-radius: rem(5px);
}
.burgers__content-composition-items-svg {
    width: 50px;
    height: 40px;
}
.burgers__content-composition-items {
    display: flex;
    flex-direction: column;
    padding: 5% 2% 0 6%;
    height: 100%;
    justify-content: space-around;
    opacity: 0.9;
    
}
.burgers__content-composition-items-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.svg-type {
    width: 50%;
    font-family: 'Ubuntu-Medium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgb(47, 50, 52);
    line-height: 1.714;
}
.weight {
    margin-right: rem(10px);
    font-family: 'Ubuntu-Light', sans-serif;
    font-size: 14px;
    color: rgb(47, 50, 52);
    line-height: 1.714;
}
.burgers__container.slider {
    display: none;
}
.burgers__container.slider.slider_active {
    display: flex;
}
.slider_burger {
    width: 440px;
    height: 315px;

}