.header {
    padding-top: rem(12px);
    display: flex;
    //align-items: center;
    justify-content: space-between;
    max-width: rem(960px);
    padding: rem(12px) rem(10px);
    @include phones(){ 
        font-size: 10px;
    }
}
.header__buttons {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu-Medium', sans-serif;
}

.header__links {
    display: flex;
    align-items: center;
  }
  
  .header__menu {
      flex: 1;
      text-align: right;
      margin-right: rem(20px);
  
    @include tablets() {
      display: none;
    }
  }